$brand-course-number: "17-636" !default;

$brand-course-number-color: #000 !default;
$brand-course-number-muted: #888 !default;
$brand-footer-opacity: 0.3 !default;
$brand-header-opacity: 0.5 !default;

$brand-cmu-logo: '../../../../../includes/cmu-wordmark-horizontal-70k.png' !default;
$brand-cmu-logo-reverse: '../../../../../includes/cmu-wordmark-horizontal-white.png' !default;
$brand-s3d-logo: '../../../../../includes/s3d-logo-horizontal.png' !default;
$brand-s3d-logo-reverse: '../../../../../includes/s3d-logo-horizontal-reverse.png' !default;
$title-s3d-logo: '../../../../../includes/s3d-logo-horizontal.jpg' !default;
